{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} - Home{% endblock title%}
{% block meta-description %}{% endblock meta-description %}
{% block home_active %}class="active"{% endblock home_active %}

{% block content %}
<div class="container home">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
			WELCOME
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center">
			Its allllllllllll goooooooooooooooood
		</div>
	</div>
</div>
{% endblock content %}